.main {
  display: grid;
  grid-gap: 1.0rem;
  grid-template-columns: 1;
  grid-template-rows: 5rem auto;
  justify-items: center;
  align-items: center;
  max-width: 35rem;
}

.main > p {
}

.mainHeadings {
  font-family: var(--font-family-heading);
}

.main > iframe {
  align-self: flex-start;
}

.main > h2, .main > h3 {
  justify-self: flex-start;
}

.mainIcons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}